
* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;}
h1{
    color: rgb(87, 66, 53);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 3em;
}

h2{ 
    color: rgb(35, 73, 131);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-weight: 200; 
    text-align: left;
    font-size: 2em;
}

p{
    color: rgb(87, 66, 53);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-weight: 200;
    font-size: 1.5em;

}

/* Responsive font size makes the words easier to read on a smaller screen */
@media screen and (max-width:800px) {
    h1 {
      font-size:1.5em;
    }
    h2 {
        font-size:1em;
      }
      p {
        font-size:0.9em;
      }
}

.cost{
    color: rgb(158, 17, 35);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-weight: 200;
    text-align: right;
}

a{
    color: rgb(80, 52, 35);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-weight: 200;
    text-decoration: none;
}


a:hover{
    /* sets the font weight for hovered a elements to bold */
    font-weight:bolder;
    text-decoration: none;
    color: rgb(80, 52, 35);
}

.logo img{
    /* sets the maximum width for images within elements with class "logo" */
    max-width: 10%;
}

/* Nav formatting starts here */
.topnav{  /* Format and style fixed banner container*/
  overflow: hidden;
  background-color: rgb(35, 73, 131);
  text-align: center;
  padding: 20px;
  width: 100%;
}

 .topnav a{ /* Style the links inside the banner - navigation bar */
  color: #EDE0D4;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  font-size: large;
}

 .topnav a:hover{ /* Change the colour of links when hovering over them in nav bar */
 background-color: #849ca8;
}

 .topnav a.active{ /* Add colour to the active/current link */
  font-weight: bolder;
  font-size: larger;
  padding: 20px; 
} 
   
 .topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}  
/* Responsive img size makes the words easier to read on a smaller screen */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* Footer section  */ 
footer {
overflow: hidden;
padding: 10px;
background-color: rgb(35, 73, 131);
right: 0; 
left:0; 
width: 100%;
position: absolute;
margin-top: 5px;} 

footer a {/* links inside footer */
padding: 10px;
text-decoration: none; 
color: #ede0d4;}

.bottomrow{
    width: 100%;
    text-decoration: none; 
    color: #ede0d4;
    float:left;
    font-size: 12px;
    padding-left: 5px;
}

.smedia{
 width: 25%;
 padding-left: 75%;
}

/* Responsive font size makes the words easier to read on a smaller screen */
@media screen and (max-width:800px) {
    footer a {
      font-size:1em;
    }
}


.label{
    display:flex;
    justify-content: space-around;   
}


@media screen and (max-width:800px) {
    .buttonimg {
      font-size:1em;
    }
}


.generalinfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuimg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 90%;
}

.section{
    align-items: center;
}

.listing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.headline{
    box-sizing: border-box;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
}

.desc{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

/* removes the border and overflow of elements with tag "iframe" */
iframe{
    border: 0;
    overflow: hidden;
    max-width: 100%;
}

/* removes margins for elements with tag "body" within elements with class "addbooking" */
#addbooking-body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Responsive layout - makes the iframes full width on a smaller screen */
  @media screen and (max-width:800px) {
    .iframe {
        width: 100%;
    }
}
