h1{
    /* sets the text color for h1 elements */
    color: rgb(87, 66, 53);
    /* sets the font family for h1 elements */
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    /* sets the font size for h1 elements */
    font-size: 3em;
}

h2{ 
    /* sets the text color for h2 elements */
    color: rgb(35, 73, 131);
    /* sets the font family for h2 elements */
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    /* sets the font weight for h2 elements */
    font-weight: 200; 
    /* aligns the text for h2 elements to the left */
    text-align: left;
    /* sets the font size for h2 elements */
    font-size: 2em;
}

p{
    /* sets the text color for p elements */
    color: rgb(87, 66, 53);
    /* sets the font family for p elements */
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    /* sets the font weight for p elements */
    font-weight: 200;
    /* sets the font size for p elements */
    font-size: 1.5em;
    /* aligns the text for p elements to the left */
    text-align: left;
}

/* Responsive font size makes the words easier to read on a smaller screen */
@media screen and (max-width:600px) {
    h1 {
      font-size:1.5em;
    }
    h2 {
        font-size:1em;
      }
      p {
        font-size:0.9em;
      }
}

.cost{
    /* sets the text color for elements with class "cost" */
    color: rgb(158, 17, 35);
    /* sets the font family for elements with class "cost" */
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    /* sets the font weight for elements with class "cost" */
    font-weight: 200;
    /* aligns the text for elements with class "cost" to the right */
    text-align: right;
}

a{
    /* sets the text color for a elements */
    color: rgb(80, 52, 35);
    /* sets the font family for a elements */
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    /* sets the font weight for a elements */
    font-weight: 200;
    /* removes the underline decoration for a elements */
    text-decoration: none;
}



a:active{
    /* sets the text color for active a elements */
    color: rgb(158, 17, 35);
}

a:visited{
    /* sets the text color for visited a elements */
    color: rgb(80, 52, 35);
}

a:hover{
    /* sets the background color for hovered a elements */
    background-color:rgb(211, 215, 223);
    /* sets the font weight for hovered a elements to bold */
    font-weight:bolder;
}

.logo img{
    /* sets the maximum width for images within elements with class "logo" */
    max-width: 10%;
}

/* Responsive img size makes the logo easier to see on a smaller screen */
@media screen and (max-width:600px) {
    .logo img{
        width: 100%
    }
}

nav{
    /* sets the display property for nav elements to "flex" */
    display: flex;
    /* aligns nav elements to the right and evenly distributes them within the flex container */
    justify-content: flex-end;
    /* aligns nav elements to the right and evenly distributes them within the flex container */
    justify-content: space-between;
}

nav a{
    /* sets the font size for a elements within nav elements */
    font-size: 2em;
}

/* Responsive img size makes the logo easier to see on a smaller screen */
@media screen and (max-width:600px) {
    nav a {
      font-size:1em;
    }
}

footer{
    /* sets the display property for footer elements to "flex" */
    display: flex;
    /* aligns footer elements to the right and evenly distributes them within the flex container */
    justify-content: flex-end;
    /* aligns footer elements to the right and evenly distributes them within the flex container */
    justify-content: space-between;
    /* adds padding to the top of footer elements */
    padding-top: 1em;
}

footer a{
    /* sets the font size for a elements within footer elements */
    font-size: 2em;
}


.notabutton{
    /* sets the display property for elements with class "notabutton" to "flex" */
    display: flex;
    /* allows elements with class "notabutton" to wrap onto multiple lines if necessary */
    flex-wrap: wrap;
    /* sets the direction of the flex items within elements with class "notabutton" to column */
    flex-direction: column;
    /* centers the flex items within elements with class "notabutton" */
    justify-content: center;
}

.notabuttonlabel{
    /* sets the display property for elements with class "notabuttonlabel" to "flex" */
    display:flex;
    /* evenly distributes the flex items within elements with class "notabuttonlabel" */
    justify-content: space-around;
}

.notabuttoncontent{
    /* sets the display property for elements with class "notabuttoncontent" to "flex" */
    display: flex;
    /* sets the direction of the flex items within elements with class "notabuttoncontent" to row */
    flex-direction: row;
    /* allows elements with class "notabuttoncontent" to wrap onto multiple lines if necessary */
    flex-wrap: wrap;
    /* evenly distributes the flex items within elements with class "notabuttoncontent" */
    justify-content: space-evenly;
}
.aboutuswords{
    /* centers the text within elements with class "aboutuswords" */
    text-align: center;
    /* sets the width of elements with class "aboutuswords" to 75% */
    width: 75%;
    /* allows elements with class "aboutuswords" to have padding and borders without affecting the element's total width */
    box-sizing: border-box;
}
.aboutusimg{
    /* sets the display property for elements with class "aboutusimg" to "flex" */
    display: flex;
    /* centers the flex items within elements with class "aboutusimg" */
    justify-content: center;
    /* positions the object within elements with class "aboutusimg" to the center */
    object-position: center;
    /* sets the maximum width of elements with class "aboutusimg" to 50% */
    max-width: 50%
}

/* Responsive layout - makes the aboutusimg and aboutuswords stack on top of each other
  instead of next to each other */
  @media screen and (max-width:600px) {
    .aboutusimg {
        /* sets the width of elements with class "aboutusimg" to 100% when the screen width is 600px or less */
        width: 100%;
    }
    .aboutuswords{
        /* sets the width of elements with class "aboutuswords" to 100% when the screen width is 600px or less */
        width: 100%;
    }
}

.buttons{
    /* sets the width of elements with class "buttons" to 100% */
    width: 100%;
    /* sets the display property for elements with class "buttons" to "flex" */
    display: flex;
    /* allows elements with class "buttons" to wrap onto multiple lines if necessary */
    flex-wrap: wrap;
    /* centers the flex items within elements with class "buttons" */
    justify-content: center;
}
.button{
    /* sets the width of elements with class "button" to 25% */
    width: 25%;
    /* sets the minimum width of elements with class "button" to 450px */
    min-width: 450px;
    /* sets the maximum width of elements with class "button" to 30% */
    max-width: 30%;
    /* allows elements with class "button" to have padding and borders without affecting the element's total width */
    box-sizing: border-box;
    /* sets the display property for elements with class "button" to "flex" */
    display: flex;
    /* allows elements with class "button" to wrap onto multiple lines if necessary */
    flex-wrap: wrap;
    /* sets the direction of the flex items within elements with class "button" to column */
    flex-direction: column;
    /* adds padding to elements with class "button" */
    padding: 2px;
}

/* Responsive layout - makes the buttons stack on top of each other
  instead of next to each other */
  @media screen and (max-width:600px) {
    .button {
        /* sets the width of elements with class "button" to 100% when the screen width is 600px or less */
        width: 100%;
    }
}

.label{
    /* sets the display property for elements with class "label" to "flex" */
    display:flex;
    /* evenly distributes the flex items within elements with class "label" */
    justify-content: space-around;   
}

.buttonimgs{
    /* sets the display property for elements with class "buttonimgs" to "flex" */
    display: flex;
    /* sets the direction of the flex items within elements with class "buttonimgs" to row */
    flex-direction: row;
    /* allows elements with class "buttonimgs" to wrap onto multiple lines if necessary */
    flex-wrap: wrap;
    /* evenly distributes the flex items within elements with class "buttonimgs" */
    justify-content: space-around;
}

.buttonimg{
    /* allows elements with class "buttonimg" to have padding and borders without affecting the element's total width */
    box-sizing: border-box;
    /* positions the object within elements with class "buttonimg" to the center */
    object-position: center;
    /* sets the font size for elements with class "buttonimg" to 2em */
    font-size: 2em;
}


.generalinfo{
    /* sets the width of elements with class "generalinfo" to 100% */
    width: 100%;
    /* sets the display property for elements with class "generalinfo" to "flex" */
    display: flex;
    /* sets the direction of the flex items within elements with class "generalinfo" to column */
    flex-direction: column;
    /* aligns the flex items within elements with class "generalinfo" to the center */
    align-items: center;
}

.menuimg{
    /* sets the display property for elements with class "menuimg" to "flex" */
    display: flex;
    /* centers the flex items within elements with class "menuimg" */
    justify-content: center;
    /* adds padding to the top of elements with class "menuimg" */
    padding-top: 1em;
}

.section{
    /* centers the text within elements with class "section" */
    text-align: center;
}

.listing{
    /* sets the display property for elements with class "listing" to "flex" */
    display: flex;
    /* sets the direction of the flex items within elements with class "listing" to column */
    flex-direction: column;
    /* aligns the flex items within elements with class "listing" to the middle */
    justify-content: middle;
}

.headline{
    /* sets the display property for elements with class "headline" to "flex" */
    display: flex;
    /* centers the flex items within elements with class "headline" */
    justify-content: center;
    /* sets the height of elements with class "headline" to 3em */
    height: 3em;
}

.cost{
    /* adds padding to the left of elements with class "cost" */
    padding-left: 2%;
}

.desc{
    /* centers the text within elements with class "desc" */
    text-align: center;
}

.containers{
    /* sets the width of elements with class "containers" to 100% */
    width: 100%;
    /* sets the display property for elements with class "containers" to "flex" */
    display: flex;
    /* allows elements with class "containers" to wrap onto multiple lines if necessary */
    flex-wrap: wrap;
    /* centers the flex items within elements with class "containers" */
    justify-content: center;
}

.container{
    /* allows elements with class "container" to have padding and borders without affecting the element's total width */
    box-sizing: border-box;
    /* sets the display property for elements with class "container" to "flex" */
    display: flex;
    /* sets the direction of the flex items within elements with class "container" to column */
    flex-direction: column;
    /* aligns the flex items within elements with class "container" to the center */
    justify-content: center;
    /* aligns the flex items within elements with class "container" to the top */
    justify-content: flex-start;
    /* sets the width of elements with class "container" to 50% */
    width: 50%;
    /* sets the minimum width of elements with class "container" to 800px */
    min-width: 800px;
    /* adds padding to elements with class "*/
    padding: 2px;
}

/* Responsive layout - makes the two containers stack on top of each other
  instead of next to each other */
  @media screen and (max-width:600px) {
    .container {
        width: 100%;
    }
}

.container .headline{
    /* sets the width of elements with class "headline" within elements with class "container" to 60% */
    width: 60%;
    /* adds padding to the left of elements with class "headline" within elements with class "container" */
    padding-left: 20%;
    /* sets the display property for elements with class "headline" within elements with class "container" to "flex" */
    display: flex;
    /* evenly distributes the flex items within elements with class "headline" within elements with class "container" */
    justify-content: space-between;
    /* sets the height of elements with class "headline" within elements with class "container" to 3em */
    height: 3em;
}

/* removes the border and overflow of elements with tag "iframe" */
iframe{
    border: 0;
    overflow: hidden;
}

/* removes margins for elements with tag "body" within elements with class "addbooking" */
#addbooking-body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Responsive layout - makes the iframes full width on a smaller screen */
  @media screen and (max-width:600px) {
    .iframe {
        width: 100%;
    }
}